$glacier-blue:#1995ad;
$darker-blue:#187588;
$light-grey:#f1f1f2;
$grey:#bcbabe;
$warm-grey:#777;
$ice-blue:#a1d6e2;
$white: #fff;

*, {
  margin: 0;
  padding: 0;
}

.nav {
  background: $ice-blue;
  border-bottom: 5px solid $darker-blue;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px 0;
  
  & .logo {
    text-decoration: none;
    font-size: 25px;
    color: $darker-blue;
    font-weight: bold;
  }
}

ul {
  display: flex;
  align-items: center;
  list-style: none;

  & .nav-item {
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
    color: $darker-blue;
    font-weight: bold;

    &:hover {
      color: rgba($darker-blue, .8);
    }
  }
}

header {
  background-image: url(../img/img-2.jpg);
  background-size: cover;
  height: 95vh;
  text-align: center;

  & h1 {
    padding-top: 170px;
    text-transform: uppercase;
    font-size: 40px;
    color: $darker-blue;
  }

  & div {
    margin-top: 50px;
  }

  & .btn {
    text-decoration: none;
    text-transform: uppercase;
    background: $ice-blue;
    border-radius: 3px;
    color: $darker-blue;
    font-weight: bold;
    padding: 15px 20px;
    margin-top: 30px;

    &:hover {
      background: rgba($ice-blue, .8);
      color: rgba($darker-blue, .8);
    }
  }
}

.main-1 {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
  padding-bottom: 100px;

  & .div-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    border: 2px solid $darker-blue;
    border-radius: 3px;
    padding: 50px;

    &:hover {
      background: $ice-blue;
    }
  }

  .font-a {
    display: flex;
    justify-content: center;
  }

  & .div {
    width: 100px;
    height: 100px;
    background: $darker-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-size: 40px;
    color: $white;
  }

  & .des {
    margin-top: 50px;

    & p {
      color: $darker-blue;
      font-size: 20px;
    }
  }
}

.main {
  margin-left: 50px;
  margin-right: 50px;
}



.main-2 {
  margin-left: 50px;
  margin-right: 50px;

  & .img-1 {
    margin-right: 50px;
    width: 350px;
    height: 300px;
    border-radius: 3px;
    border: 5px solid $ice-blue;
  }

  & .img-2 {
    margin-right: 50px;
    width: 350px;
    height: 300px;
    border-radius: 3px;
    border: 5px solid $ice-blue;
  }

  & .div-2 {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  }

  & h4 {
    font-size: 35px;
    color: $darker-blue;
  }

  & .h4 {
    margin-top: 70px;
  }

  & p {
    color: $darker-blue;
    font-size: 20px;
    line-height: 2.5;
  }
}

.footer {
  background: $ice-blue;
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 200px;
  margin-top: 100px;
  border-top: 5px solid $darker-blue;

  & .who {
    margin-left: 50px;
    width: 30%;
  }

  & .where {
    margin-right: 50px;
    width: 30%;
    margin-left: 50px;
  }

  & .what {
    width: 30%;
    margin-left: 70px;

    & .services {
      display: flex;
      flex-direction: column;
    }

    & a {
      color: $darker-blue;
      font-size: 18px;

      &:hover {
        color: $white;
      }
    }
  }

  & h3 {
    font-size: 25px;
    margin-bottom: 15px;
    color: $darker-blue;
  }

  & p {
    color: $darker-blue;
    font-size: 18px;
  }
}

footer {
  padding: 40px 0;
  background: $darker-blue;
  text-align: center;

  & p {
    color:$white;
    font-size: 16px;
    margin-top: 10px;
  }

  & a {
    color: $white;
    font-size: 40px;
    margin-left: 15px;

    &:hover {
      color: rgba($white, .9);
    }
  }

  
}

@media only screen and (max-width: 800px) {
  .main-1 {
    flex-direction: column;
  }

  .div-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .footer {
    display: block;

    & .what {
      margin-left: 50px;
    }

    & .what, .where {
      margin-top: 50px;
    }
  }
}